/*.clj
/*.yaml
/*.ys
/bin/
/issue-*
/lib/
/libyamlscript-*
/release*.log
/release-id.txt
note/
/talk/
/www
/ys-*

.calva/
*.class
classes/
.clj-kondo/
.cpcache/
Dockerfile
.DS_Store
NO-NAME
*.jar
.lein-*
.lsp/
.nrepl-port
.nrepl-pid
pom.xml
pom.xml.asc
.portal/
.prepl-port
profiles.clj
.project.clj
reports/
target/
.vimrc
.vscode/
**/.idea/
