.vimrc
/*.clj
/*.md
*.md.tmp
/*.yaml
/*.ys
/bin/
/homebrew-yamlscript/
/issue-*
/lib/
/libyamlscript-*
/release*.log
/release-changes.txt
/release-id.txt
/website/
/work/
/ys-*

.calva/
*.class
classes/
.clj-kondo/
.cpcache/
Dockerfile
.DS_Store
NO-NAME
*.jar
.lein-*
.lsp/
note/
.nrepl-port
.nrepl-pid
pom.xml
pom.xml.asc
.portal/
.prepl-port
profiles.clj
.project.clj
reports/
target/
.vscode/
.yamllm/
**/.idea/
