.calva/
*.class
classes/
.clj-kondo/
.cpcache/
Dockerfile
*.jar
.lein-*
.lsp/
note/
.nrepl-port
.nrepl-pid
pom.xml
pom.xml.asc
.portal/
.prepl-port
profiles.clj
.project.clj
reports/
target/
.vscode/
/www
