{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"},
  org.clojure/data.json {:mvn/version "2.4.0"},
  clj-commons/clj-yaml {:mvn/version "1.0.27"},
  org.snakeyaml/snakeyaml-engine {:mvn/version "2.7"},
  babashka/babashka.pods {:mvn/version "0.2.0"},
  babashka/fs {:mvn/version "0.5.20"},
  babashka/process {:mvn/version "0.5.21"},
  org.babashka/http-client {:mvn/version "0.3.11"},
  org.babashka/sci {:mvn/version "0.8.41"},
  org.clojure/tools.cli {:mvn/version "1.0.219"}},
 :mvn/repos {"public-github" {:url "https://github.com"}}}
