{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"},
  org.clojure/data.json {:mvn/version "2.4.0"},
  clj-commons/clj-yaml {:mvn/version "1.0.27"},
  org.flatland/ordered {:mvn/version "1.15.11"},
  org.rapidyaml/rapidyaml {:mvn/version "0.7.2"},
  org.snakeyaml/snakeyaml-engine {:mvn/version "2.7"},
  babashka/babashka.pods {:mvn/version "0.2.0"},
  babashka/fs {:mvn/version "0.5.20"},
  babashka/process {:mvn/version "0.5.21"},
  org.clj-commons/digest {:mvn/version "1.4.100"},
  org.babashka/http-client {:mvn/version "0.3.11"},
  org.babashka/sci {:mvn/version "0.8.41"},
  org.clojure/tools.cli {:mvn/version "1.0.219"},
  clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}},
 :mvn/repos {"public-github" {:url "https://github.com"}}}
