<!--
<pre>
page: >>>{{ page.file_content_string }}<<<
page.meta: >>>{{ page.meta | tojson(indent=2) }}<<<
page.previous_page: >>>{{ page.previous_page }}<<<
page.next_page: >>>{{ page.next_page }}<<<
scheme: >>>{{ scheme }}<<<
tag: >>>{{ tag }}<<<
title: >>>{{ title }}<<<
app: >>>{{ app }}<<<
author: >>>{{ config.author }}<<<
</pre>
-->


{% if page.meta.edit_file %}
  {% set url = config.edit_uri ~ page.meta.edit_file %}
  <a href="{{ url }}" title="{{ lang.t('action.edit') }}"
      class="md-content__button md-icon">
    {% set icon = config.theme.icon.edit or "material/file-edit-outline" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
  </a>

  <a href="{{ url | replace('/blob/', '/raw/') }}"
      title="{{ lang.t('action.view') }}"
      class="md-content__button md-icon">
    {% set icon = config.theme.icon.view or "material/file-eye-outline" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
  </a>
{% endif %}
