<!-- Uncomment section below to find available data -->
<!-- pre>
page: >>>{{ page.file_content_string }}<<<
page.meta: >>>{{ page.meta | tojson(indent=2) }}<<<
page.previous_page: >>>{{ page.previous_page }}<<<
page.next_page: >>>{{ page.next_page }}<<<
scheme: >>>{{ scheme }}<<<
tag: >>>{{ tag }}<<<
title: >>>{{ title }}<<<
app: >>>{{ app }}<<<
author: >>>{{ config.author }}<<<
url: {{ page.url }}
edit_uri: {{ config.edit_uri }}
src_path: {{ page.file.src_path }}
</pre -->

{% set path = page.file.src_path %}

{% set url = "" %}
{% if page.url == "" %}
{% elif page.meta.edit %}
  {% set url = config.edit_uri ~ page.meta.edit %}
{% elif page.url.startswith("doc/") or page.url.startswith("blog/") %}
  {% set url = config.edit_uri ~ path %}
{% else %}
  {% set url = config.edit_uri ~ "www/src/" ~ path %}
{% endif %}

{% if page.meta.talk or page.meta.talk == 0 %}
  {% if page.meta.talk == 0 %}
    {% set durl = config.extra.talk_uri ~ "/" ~ config.extra.talk_new_id %}
  {% else %}
    {% set durl = config.extra.talk_uri ~ "/" ~ page.meta.talk %}
  {% endif %}
{% endif %}

{% if url != "" %}
  {% if durl %}
    <a href="{{ durl }}"
      title="Discuss this page"
      class="md-content__button md-icon">
      {% set icon = config.theme.icon.talk or "material/chat-questions" %}
      {% include ".icons/" ~ icon ~ ".svg" %}
    </a>
  {% endif %}

  <a href="{{ url }}"
     title="{{ lang.t('action.edit') }}"
     class="md-content__button md-icon">
    {% set icon = config.theme.icon.edit or "material/file-edit-outline" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
  </a>

  <a href="{{ url | replace('/edit/', '/raw/') }}"
     title="{{ lang.t('action.view') }}"
     class="md-content__button md-icon">
    {% set icon = config.theme.icon.view or "material/file-eye-outline" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
  </a>
{% endif %}
