---
title: Oops! Not Found
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>Oops. Page not Found,  <a href="{{ '/' | url }}">Go home</a>.</p>
</div>