---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">
    <nav class="post__pagination">
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>←</span>
          <span>{{ previousPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}

      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>{{ nextPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>
