---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      {%- if author.name %}
        by <a href="{{ author.url }}">{{ author.name }}</a>
        <span> | </span>
      {% endif %}
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span> | </span>
      <span>{{ content | readingTime }} read</span>
    </div>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">
    <div class="post__tags">
      {% for tag in tags | pageTags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      {% endfor %}
    </div>

    <nav class="post__pagination">
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>←</span>
          <span>{{ previousPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}

      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>{{ nextPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>
