/*
:root {

  /* Primary color shades * /
  --md-primary-fg-color: #861f41;
  --md-primary-fg-color--light: #861f4194;
  --md-primary-fg-color--dark: #ac325a;
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-text-link-color: hsla(231, 48%, 48%, 1);

  /* Accent color shades * /
  --md-accent-fg-color: rgb(98, 18, 189);
  --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

:root > * {

  /* Code block color shades * /
  --md-code-bg-color: hsla(0, 0%, 96%, 1);
  --md-code-fg-color: hsla(200, 18%, 26%, 1);

  /* Footer * /
  --md-footer-bg-color: #861f41;
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}

:root > * {
  --md-primary-fg-color:        #cb6;
  --md-primary-fg-color--light: #cb6;
  --md-primary-bg-color:        #000000;
  --md-primary-bg-color--light: #000000;
  --md-typeset-a-color:         #000000;
}
*/

.dark {
  background-color: #ccc;
  width: 100%;
  padding: 0px 20px;
  display:flow-root
}

.cards hr {
  border: 1px solid #888;
}

hr {
  border: 2px solid #861f41;
}


h1.empty {
  margin-bottom: 0px;
}

.md-nav__list {
  margin-left: 5px;
}

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  float: left;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 50px;
  width: 50px;
}

/*
.md-header__button.md-logo img {
  float: left;
  vertical-align: top;
  height: 100px;
}

.md-nav__list {
  margin-left: 20px;
  padding-left: 0px !important;
}

.md-nav__title {
  padding-left: 0px;
}
*/
